<!--The content below defines two placeholders, one for 
   the left sidebar and one for the Content .-->
<div id="container">
   <app-sidebar></app-sidebar>

   <div id="content">
     <div id="bg"></div>
      <header>
          <a href="#">Enterprise IT Portfolio Office</a>
          <div *ngIf="this.authService.isUserEmailLoggedIn; else loading">
              <h3>Enjoy the sessions!</h3>
          </div> 
          <ng-template #loading><h3>Please Login to access the agenda.</h3></ng-template>
      </header>
        <alert></alert> 
        <router-outlet></router-outlet>
 </div>

<!-- SVG structures for IE Edge -->
  <svg width="0" height="0">  
    <defs>
      <clipPath id="clipPolygon" clipPathUnits="objectBoundingBox">
        <polygon points="1 0, 1 0.82, 0.45 1, 0 1, 0 0" />
      </clipPath>
    </defs>
  </svg>
  <svg width="0" height="0">
      <defs>
        <clipPath id="clipPolygon2" clipPathUnits="objectBoundingBox">
          <polygon points="0 0, 0.75 0, 0.55 1, 0 1" />
        </clipPath>
      </defs>
    </svg>
</div>
