  <section id="popleft">
    <h1>{{ Conference?.title }} - {{ Conference?.date }}</h1>
    <p><strong>Speaker(s):</strong> {{ Conference?.speakerName }}</p>

    <ul>
      <li><strong>Description:</strong> {{ Conference?.description }}</li>
      <li><strong>Location:</strong> {{ Conference?.room }}</li>
      <li><strong>Time:</strong> {{ Conference?.startTime }} - {{ Conference?.endTime }}</li>
      <li><strong>imgUrl:</strong> {{ Conference?.imgUrl }}</li>
      <li><strong>folderUrl:</strong> {{ Conference?.folderUrl }}</li>
    </ul>
  </section>

